<h1>fupa town</h1>


<h3>Howdy, <%= @user.username %></h3>

<div>
	<%= gravatar_for @user, size: 120 %>
</div>

<%= will_paginate @user_articles %>
<%= render 'articles/article', obj: @user_articles %>
